body{
  background-color: bisque;
}
header {
  text-align: center;      
}

  section.facts-section h2{
    text-decoration: underline;

  }
  section.quotes-section h2{
    text-decoration: underline;
  }

  section.quotes-section p{
      font-style: italic; 
    }

    
  section.links-section h2{
    text-decoration: underline;

  }