/*
 * This css file holds global styles used across the application, in both static and Vue pages.
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

main {
    padding: 1rem;
}

/*********************************************************************** 
 * Base styles for the application header, nav, and footer. These core 
 * parts of the site layout are shown on both static and Vue app pages 
 ***********************************************************************/
 #book-app {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 2rem 1fr;
    grid-template-areas: 
        "header header header"
        "nav . main"
        "footer footer footer";
}

#main-content{
    grid-area: main;
}

#app-header {
    grid-area: header;
    background-color: #88C1E7;
    padding: 5px;
}

#app-header a {
    text-decoration: none;
    color: #000;
}

#app-header a:hover {
    color: #000;
    cursor: pointer;
}

#app-header a:visited {
    color: #000;
}

#app-info {
    display: flex;
    align-items: center;
}

.app-logo {
    height: 40px;
    margin-right: 1rem;
}

#app-footer {
    grid-area: footer;
    background-color: rgba(136, 193, 231, 0.4);
    border-top: rgba(136, 193, 231, 0.7) 1px solid;
    font-size: 75%;
    text-align: center;
    opacity: 0.7;
    padding: 1rem;
}

#main-nav {
    grid-area: nav;
}

.nav-list {
    border-right: 1px solid rgba(136, 193, 231, 1);
}
  
.nav-link a {
    display: block;
    background-color: rgba(136, 193, 231, 0.3);
    border-bottom: 1px solid rgba(136, 193, 231, 0.7) ;
    color: #000;
    margin: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.nav-link a:hover {
    color: #000;
}

/* Button styles */
.icon-button {
    background-color: transparent;
    border: none;
    font-size: inherit;
    padding: 0;
    margin-right: 0.5rem;
}

.icon-button-inactive {
    color: grey;
}

button:hover {
    cursor: pointer;
}

/* Table styles */
table {
    margin-bottom: 2rem;
    padding: 0.5rem;
}

thead {
    margin-bottom: 0.5rem;
}

tbody {
    border: 1px solid rgb(136, 193, 231);
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

tr {
    padding: 0.5rem;
}
  
tr:nth-child(even) {
    background-color: rgba(136, 193, 231, 0.3);
}
